<!-- create_room.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Room</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1>Create a New Room</h1>
        <form method="post" action="{% url 'create_room' %}">
            {% csrf_token %}
            <div class="form-group">
                <label for="room_id">Room ID:</label>
                <input type="number" class="form-control" id="room_id" name="room_id">
            </div>
            <div class="form-group">
                <label for="room_name">Room Name:</label>
                <input type="text" class="form-control" id="room_name" name="room_name">
            </div>
            <div class="form-group">
                <label for="room_building">Room Building:</label>
                <input type="text" class="form-control" id="room_building" name="room_building">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

    <!-- Bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
