<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <!-- Your CSS styles -->
    <!-- Bootstrap CSS or any other styling -->
</head>
<body>
    <p>Back to <a href="/management/home/">HOME</a></p>
    <div class="container">
        <h1>Login</h1>
        <form method="post">
            {% csrf_token %}
            <label for="username">Username</label>
            <input type="text" id="username" name="username" required><br><br>
            <label for="password">Password</label>
            <input type="password" id="password" name="password" required><br><br>

            <ul>
                {% for user in myusers %}
                <li>
                    <form method="post">
                        {% csrf_token %}
                        <button type="submit" href="details/{{ user.id }}" style="display:inline-block;">
                            {{ user.first_name }} {{ user.last_name }}
                        </button>
                    </form>
                </li>
                {% endfor %}
            </ul>
            <button type="submit">Login</button>
        </form>
    </div>
</body>
</html>
